
$dark: #1c1e24;
$medium: #283654;
$normal: #4d638c;
$light: #cfe0f9;

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: $dark;
}

p {
  color: $light;
}

h3 {
  color: $medium;
}

/* **************** DROPDOWN **************/
.dropdownbutton {
    color: $light;
    width: 120px;
    height: 50px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdowncontent {
    display: none;
    position: absolute;
    background-color:$normal;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdowncontent a {
    color: $light;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdowncontent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdowncontent {
    display: block;
}
/* ***************** NAVIGATION TOP ***************** */
.topnav {
  display: flex;
  background-color: $medium;
  justify-content: center;
  align-items: center;

  .navlist {
    margin: 0;
    padding: 0;
  }

  ul li .button {
    border-style: none;
    width: 120px;
    height: 50px;
  }
  
  ul li {
    display: inline-block;
    list-style: none;
      a {
        text-decoration: none;
        color: $medium;
      }
  }
}

/* ******************* MOVIE SECTION ************* */

.movieMain  {
  border: solid;
  border-radius: 20px;
  width: 45%;
  display: flex;
  flex-direction: row;
  margin: 10px;
  background-color: $normal;
  height: 600px;
    div .title {
      font-size: 16pt;
      font-weight: bold;
    }
    div p {
      font-size: 12pt;
      padding-right: 20px;
    }
    div {
      position: relative;
    }
    .button {
      position: absolute;
      bottom: 0;
      margin-bottom: 30px;

    .buttonbg {
      font-size: 25pt;
      background-color: transparent;
      color: $medium;
      border-style: none;
    }
    }
    
    figure {
      min-width: 300px;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
        img {
          width: 100%;
          float: left;
          border: solid;
          border-color: white;
          border-bottom-style: none;
        }
        figcaption {
          position: relative;
          width: 100%;
          display: flex;
          background-color:$medium;
          height: 20px;
          color: $light;
          float: left;
          border: solid;
          border-color: white;
          justify-content: center;
          align-items: center;
        }
    }
}
.mainSection {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  
}

main {
  max-width: 1500px;
  margin: 0 auto;
}